@font-face {
  font-family: 'Controllers';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/Controllers.ttf') format('truetype');
}

@font-face {
  font-family: 'StreetFighter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/StreetFighter.ttf') format('truetype');
}